* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('https://scontent.faru4-2.fna.fbcdn.net/v/t1.6435-9/51866036_2169116743178315_2046239272989622272_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=mSUdeu2gbpQQ7kNvwH5hh0f&_nc_oc=Adl56DFtLaF3J--dvWxA8c4vSGKu2Gr6dMzmxUzpmymxwi5wt7o_bzU7IsfOCbmmVO9mdkBcd1lwMxs_sEpcqSRH&_nc_zt=23&_nc_ht=scontent.faru4-2.fna&_nc_gid=KCUUF3nFyX65XXFSxP36hQ&oh=00_AfQ88CkXr5a78R-shZ6sDl_WNsa9JrehIew5JUXj4ZY_lQ&oe=68B2F676') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo-texto {
  font-size: 24px;
  color: #FFD700;
  font-weight: bold;
}

.cidade {
  color: #fff;
  background: #e50914;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

main {
  text-align: center;
  margin-top: 100px;
  padding: 0 20px;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

main p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

input[type="email"] {
  padding: 12px;
  font-size: 1rem;
  width: 300px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
